<!--footer_start-->
<div id="footer" class="content-area" style="background: #fff; width: 100%">
    <div class="footer_main content-area">
        <p>版权所有@山东交通技师学院 （http://www.sdjtjs.com/）</p>
        <p>鲁ICP备05022612号-1 咨询电话：0539-7162999，7162828,7162936 电子邮箱：www.sdjtjs.com</p>
        <p>通讯地址：山东省临沂市中丘路三号 邮政编码：276000</p>
        <div class="position">
            <img src="{IMG_PATH}stuimages/image_24.jpg" class="ewm" />
            <img src="{IMG_PATH}stuimages/xuanzhuan_03.png" />
        </div>
    </div>
</div>
<!--footer_end-->
