{template "content","header"}
<style>
    body{background: #e8e8e8;}
</style>
<!--content_start-->
<div id="content" class="content-area main">
    <div class="main_left">
        <h3>关于交院</h3>
        <ul>
            <ul>
                {pc:content action="category" catid="0"   num="6" }
                {loop $data $r}
                {if $n==5}<li><a href="/index.php?m=content&c=index&a=lists&catid=22" {if $catid==22} style="background: #FB9900; color: #fff;" {/if}>校园风采</a></li>{/if}
                <li><a href="{$r[url]}" {if $catid==$r[catid]} id="current" {/if}>{$r[catname]}</a></li>
                {/loop}
                {/pc}
            </ul>
        </ul>
    </div>
    <div class="main_right">
        <div class="title5">
            <h4>{$catname}</h4>
            <ul>
                <li><a href="index.php">首页 > </a>  {catpos($catid)}</li>
            </ul>
        </div>
        <div class="survey">
            <h2>{$title}</h2>
            <p>{$content}</p>
        </div>
    </div>
</div>
<!--content_end-->
{template "content","footer"}